*~
target
common/pom.xml.next
common/pom.xml.releaseBackup
common/pom.xml.tag
docs/administrator-manual/pom.xml.next
docs/administrator-manual/pom.xml.releaseBackup
docs/administrator-manual/pom.xml.tag
docs/pom.xml.next
docs/pom.xml.releaseBackup
docs/pom.xml.tag
docs/terms-of-service/pom.xml.next
docs/terms-of-service/pom.xml.releaseBackup
docs/terms-of-service/pom.xml.tag
docs/tutorial/pom.xml.next
docs/tutorial/pom.xml.releaseBackup
docs/tutorial/pom.xml.tag
pkg/pom.xml.next
pkg/pom.xml.releaseBackup
pkg/pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
